body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #171717;
    background-image: url(../../Images//BG-o.jpg);
    background-position: center;
    background-size: cover;
}

/* For World Image */

.world-image{
    margin-left: 9%;
    width: 90vw;
    height: 100vh;
}

/* For Go Button */

.go-button{
    width: 50%;
    height: 50%;
    position: absolute;
    right: 13%;
    top: 40%;
}

/* For Buttons Parents */

.buttons-parent{
    width: 12vw;
    height: auto;
    position: absolute;
    top: 15%;
}

/* For Flag */

.flag{
    width: 10px;
}

/* For Arabic Button */

.arabic-button{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid green;
    border-radius: 50px;
    position: absolute;
    bottom: 200%;
    left: 100%;
    cursor: pointer;
}

.arabic-button:hover{
    background-color: green;
    transition: 0.5s;
}
/* For Chinese Button */

.chinese-button{

    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #E71B24;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
    position: absolute;
    bottom: 200%;
    left: 540%;

}

.chinese-button:hover{
    background-color: #E71B24;
    transition: 0.5s;
}

/* For Dutch Button */

.dutch-button{

    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #A91B27;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
    position: absolute;
    bottom: 200%;
    left: 650%;

}

.dutch-button:hover{
    background-color:#A91B27;
    transition: 0.5s;
}

/* For English Button */


.english-button{

    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #012066;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
    position: absolute;
    bottom: 70%;
    left: 650%;


}

.english-button:hover{
    background-color: #012066;
    transition: 0.5s;
}

/* For French Button */

.french-button{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #820D13;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
    position: absolute;
    bottom: 200%;
    left: 210%;
}

.french-button:hover{
    background-color: #820D13;
    transition: 0.5s;
}

/* For German Button */

.german-button{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #F7C800;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
    position: absolute;
    bottom: 70%;
    left: 540%;
}

.german-button:hover{
    background-color: #F7C800;
    transition: 0.5s;
}

/* For Habrew Button */

.habrew-button{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #345ABD;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
    position: absolute;
    bottom: 70%;
    left: 430%;
}

.habrew-button:hover{
    background-color: #345ABD;
    transition: 0.5s;
}

/* For Hindi Button */

.hindi-button{

    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #D26302;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
    position: absolute;
    bottom: 70%;
    left: 320%;


}

.hindi-button:hover{
    background-color: #D26302;
    transition: 0.5s;
}

/* For Italian Button */

.italian-button{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #B5012C;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
    position: absolute;
    bottom: 200%;
    left: 320%;
}

.italian-button:hover{
    background-color: #B5012C;
    transition: 0.5s;
}

/* For Malyalam Button */

.malyalam-button{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #F60F0A;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
}

.malyalam-button:hover{
    background-color: #F60F0A;
    transition: 0.5s;
}

/* For Polish Button */

.polish-button{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #F60F0A;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
    position: absolute;
    bottom: 70%;
    left: 210%;
}

.polish-button:hover{
    background-color: #F60F0A;
    transition: 0.5s;
}

/* For Portugees Button */

.portugees-button{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #872D00;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
    position: absolute;
    bottom: 70%;
    left: 100%;
}

.portugees-button:hover{
    background-color: #872D00;
    transition: 0.5s;
}

/* For Russian Button */

.russian-button{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #003194;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
    position: absolute;
    /* bottom: 100%; */
    left: 320%;
    top: 50%;
}

.russian-button:hover{
    background-color: #003194;
    transition: 0.5s;
}

/* For Sinhala Button */

.sinhala-button{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #891F28;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
    position: absolute;
    bottom: 200%;
    left: 430%;
}

.sinhala-button:hover{
    background-color: #891F28;
    transition: 0.5s;
}

/* For Spanish Button */

.spanish-button{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #DF720D;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 430%;
    position: relative;
    top: 19px;
}

.spanish-button:hover{
background-color: #DF720D;
transition: 0.5s;
}

/* For Ukranian Button */

.ukranian-button{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid #0158B5;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    left: 210%;
}

.ukranian-button:hover{
    background-color: #0158B5;
    transition: 0.5s;
}

/* For Saudia's Map */

.saudia-map{
    width: 1260px;
    height: 100%;
    position: absolute;
    top: 9px;
    left: 105px;
    right: 0%;
}

/* For India's Map  */

.india-map{
    width: 1262px;
    height: 100%;
    position: absolute;
    top: 9.5px;
    left: 100px;
    right: 0px;
}

/* For France's Map */

.france-map{
    width: 1272px;
    height: 102.3%;
    position: absolute;
    left: 98px;
    top: 0px;
}

/* For English Map */

.english-map{

    width: 1228px;
    height: 102.3%;
    position: absolute;
    left: 123px;
    top: 1px;
    
}

/* For Russian Map */

.russian-map{

    width: 1228px;
    height: 102.3%;
    position: absolute;
    left: 123px;
    top: 1px;

}

/* For Italian Map */

.italian-map{

    width: 1228px;
    height: 102.3%;
    position: absolute;
    left: 123px;
    top: 1px;

}

/* For Spanish Map */

.spanish-map{
    width: 1228px;
    height: 102.3%;
    position: absolute;
    left: 123px;
    top: 1px;
}

/* For Ukranian Map */

.ukranian-map{
    width: 1228px;
    height: 102.3%;
    position: absolute;
    left: 123px;
    top: 1px;
}

/* For China Map */

.china-map{
    width: 1228px;
    height: 102.3%;
    position: absolute;
    left: 123px;
    top: 1px;
}

/* For Dutch Map */

.dutch-map{
    width: 1228px;
    height: 102.3%;
    position: absolute;
    left: 123px;
    top: 1px; 
}

/* For German Map */

.german-map{
    width: 1228px;
    height: 102.3%;
    position: absolute;
    left: 123px;
    top: 1px;
}

/* For Habrew Map */

.habrew-map{
    width: 1228px;
    height: 102.3%;
    position: absolute;
    left: 123px;
    top: 1px;
}

/* For Poland Map */

.poland-map{
    width: 1228px;
    height: 102.3%;
    position: absolute;
    left: 123px;
    top: 1px;
}

/* For Portugal Map */

.portugal-map{

    width: 1228px;
    height: 102.3%;
    position: absolute;
    left: 123px;
    top: 1px;
}

/* For Sinhala Map */

.sinhala-map{

    width: 1228px;
    height: 102.3%;
    position: absolute;
    left: 123px;
    top: 1px;

}

.visible{
    visibility: hidden;
}