body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #171717;
}

/* For World Image */

.world-image{
    margin-left: 9%;
    width: 90vw;
    height: 100vh;
}

/* For Buttons Parents */

.buttons-parent{
    border: 3px solid black;
    width: 12vw;
    height: auto;
    position: absolute;
    top: 15%;
    /* left: 1%; */
}

/* For Arabic Button */

.arabic-button{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid green;
    border-radius: 50px;
    cursor: pointer;
}

/* For Arabic Flag */

.arabic-flag{
    width: 9px;
}